.news-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 10px;
}
.card-img{
    width: 80%;
    
}
.news-card img{
    width: 80%;
    height: 80%;
}